 [Unit]
 Description=Happyswing Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/home/pi/happyswing-dali/.venv/bin/python /home/pi/happyswing-dali/main.py > /home/pi/happyswing-dali/output.log 2>&1

 [Install]
 WantedBy=multi-user.target